<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="margin-20">
          <h4>Add customer</h4>
        </div>
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                Name is required (minimum 5 characters).
              </small>
          </div>
          <!--addresses-->
          <div formArrayName="addresses">
            <div *ngFor="let address of myForm.controls.addresses.controls; let i=index" class="panel panel-default">
              <div >
                <span>Address {{i + 1}}</span>
                <span *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)"></span>
              </div>
              <div [formGroupName]="i">
                <address [group]="myForm.controls.addresses.controls[i]"></address>
              </div>
            </div>
          </div>
  
          <div>
            <a (click)="addAddress()" style="cursor: default">
              Add another address +
            </a>
          </div>
  
          <div>
            <button type="submit" [disabled]="!myForm.valid">Submit</button>
          </div>
          <div ></div>
  
          <div>
            <div>myForm details:-</div>
            <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
            <pre>form value: <br>{{myForm.value | json}}</pre>
          </div>
        </form>
      </div>
    </div>
  </div>